@model Product


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">@Model.Name</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">@Model.Category.Name</p>

    </div>
    <div class="overflow-hidden" style="max-height;">
        <div class="container px-5">
            <img src="~/img/@Model.Image" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="250" height="50" loading="lazy">
        </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        @*<button  class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>*@
            <a asp-action="Index" class="btn btn-primary btn-lg px-4 me-sm-3" text-white>Go Back</a>
        </div>
</div>
