@model Category
@{
    ViewData["Title"] = "Detail";
}
<div class="row">
    <div class="col-md-6 text-left">
        <h2>@Model.Name</h2>
        
    </div>
</div>
<a asp-action="Index" class="btn btn-secondary" text-white>Go Back</a>


